version: "3.9"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    restart: unless-stopped

  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: shortlink
      POSTGRES_PASSWORD: change-me
      POSTGRES_DB: shortlink
    volumes:
      - shortlink-postgres:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  shortlink-postgres:
